@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

* {
    font-family: "DM Sans", sans-serif;
}

*:focus {
    outline: none;
}

body {
    overflow: -moz-scrollbars-none;
    height: 100vh;
    /* overflow-y: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

/* rdrDateRangeWrapper */
/* .rdrCalendarWrapper{
    background-color: grey !important;
}  */

/* .rdrDateRangeWrapper {
    background-color: black !important;
} */